.App {
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}
header img {
  width: 80px;
}
header span {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 5vh;
}
header button {
  padding: 0;
  width: 10vh;
  border: none;
  color: white;
  background: #131314;
  border-radius: 3px;
  height: 40px;
  margin: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  width: 100%;
  text-align: left;
}
.nfts-container {
  width: 50%;
  margin-top: 40px;
}
.nfts-container h4 {
  text-align: left;
}
.nfts {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.nfts .nft {
  display: flex;
  flex-direction: column;
  max-width: 150px;
}
.nfts .nft img {
  width: 150px;
  height: 150px;
}
button {
  border: none !important;
}
.buttons {
  text-align: start;
}
.buttons .submit {
  margin-right: 20px;
}

.new {
  text-align: center;
  padding: 10px;
  width: 150px;
  font-size: 16px;
  border-radius: 5px;
  background: black;
  color: white;
}
.no-nfts {
  margin-top: 10vh;
}
